# 02. 파이썬 변수

### 011. 변수 사용하기

삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [1]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

### 012. 변수 사용하기

다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER등을 바인딩해보세요.

In [2]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

### 013. 문자열 출력
변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

In [5]:
s = "hello"
t = "python"

print(s + '! ' + t)

hello! python

### 014. 파이썬을 이용한 값 계산
아래 코드의 실행 결과를 예상해보세요.

In [6]:
2 + 2 * 3

8

### 015. type 함수

type() 함수는 데이터 타입을 판별합니다. 변수 a 에는 128 숫자가 바인딩돼 있어 type함수가 int(정수)형임을 알려줍니다.

In [7]:
a = 128
print(type(a))

<class 'int'>

In [9]:
a = "132"
print(type(a))

<class 'str'>

### 017. 정수를 문자열 100으로 변환

정수 100을 문자열 '100'으로 변환해보세요.

In [12]:
num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

### 018. 문자열을 실수로 변환

문자열 "15.79"를 실수 (float) 타입으로 변환해보세요.

In [14]:
data = "15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

### 019. 문자열을 정수로 변환

year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다.

이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

In [16]:
year = "2022"
print(int(year)-3)  # 2019
print(int(year)-2)  # 2020
print(int(year)-1)  # 2021

2019
2020
2021

### 020. 파이썬 계산

에어컨이 월 48,584원에 무이자 36개월 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수 사용하기)

In [18]:
월 = 48584
총금액 = 월 * 36
print(총금액)

1749024